extends ../base.jade

block content
  h3 Images

  a(href="/images/add", class='btn btn-success btn-sm')
    i.glyphicon.glyphicon-plus
    span  Add image

  each book in books
    .media
      a(href="/images/#{book.id}")
        .media-left
            img.imager_thumbnail(src=book.imageUrl || "http://placekitten.com/g/128/192")
        .media-body
          h4= book.title
          p= book.author

  if !books.length
    p No images found.

  if nextPageToken
    nav
      ul.pager
        li
          a(href="?pageToken=#{encodeURIComponent(nextPageToken)}") More
